body{
    background: #fcfcfc;
    font-family :Calibri;
    display: flex;
    flex-direction: row;
}

aside {
    float: left;
    background: #969696;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid rgba(213, 0, 0, 0.53);
    text-overflow: ellipsis;
    overflow: hidden;
}

aside img {

    float: left;
    width: 100%;
    position: relative;
}

aside .nav_logo {
    align-self: center;
}

aside .nav_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    position: relative;

}

aside h3 {

    font-size: 18px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
}

p {
    color: #000000;
}

button {
    margin-top: 30px;
    font-size: 20px;
}

a {
    font-size: 20px;
    text-decoration: none
}



aside ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

}

aside ul li {
    color: #fff;
    transition: all .6s ease;
    font-size: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}




aside ul li:hover, aside ul a:hover {
    color: black;
    transform: scale(1.01);
}

main .features {
    color: black;
    text-align: center;
}

main {
    width: 80%;
}

